@import '../../assets/css/material-dashboard.css';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.full-page .full-page-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-image: url('../../assets/img/login-bg.png');
}

.err-msg-red {
  color: red;
}
.err-msg-smaller {
  font-size: smaller;
}
.login_main {
  width: 100%;
  max-width: 425px;
  padding: 0 15px;
}
.footer button.btn {
  display: inline-block;
  line-height: normal;
}
.footer button.btn span {
  display: inline-block;
  position: relative;
}
.footer button.btn .fa-spin {
  display: inline-block;
  float: left;
  width: auto;
  position: static !important;
  margin: 4px 7px 0 0 !important;
}
.card-login .input-group .form-group {
  max-width: 80%;
  width: 100%;
}
.card-login .input-group .form-group .control-label{
  margin-top: 0;
  top: -10px;
  font-size: 12px;
}
.card-login .input-group .form-group .form-control{
  margin-top: 10px;
}