<div class="wrapper wrapper-full-page">
	<div class="full-page login-page">
		<!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
						<form name="form" role="form" (ngSubmit)="verifyUser()">
							<div class="card card-login">
								<div class="card-header text-center" data-background-color="orange">
									<h4 class="card-title">Login</h4>
								</div>
								<div class="card-content">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
										<div class="form-group label-floating">
											<label for="username" class="control-label">Email address</label>
											<input type="email" name="username" id="username" class="form-control" [(ngModel)]="user.email" required autofocus>
											<span class="help-block">Username is required</span>
										</div>
									</div>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
										<div class="form-group label-floating">
											<label for="password" class="control-label">Password</label>
											<input type="password" name="password" id="password" class="form-control" [(ngModel)]="user.password" required>
											<span class="help-block">Password is required</span>
										</div>
									</div>
								</div>
								<div class="footer text-center">
									<button type="submit" [class.disabled]="formInvalid" class="btn btn-rose">Login</button>
									<div *ngIf="error" style="color: red">
										{{error}}
									</div>
									<div style="padding-top: 20px">
										<a (click)="showResetPassword()">Forgot Password?</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="full-page-background"></div>
	</div>
</div>