.full-page-background {
 background-image: url('../../assets/img/login-bg.png');
}

a {
 cursor: pointer;
}

.d-inline {
 display: inline;
}
.mt-2{
 margin-top: 10px;
}
.mx-3 {
 margin: 0 15px;
}
.vertical-middle {
 vertical-align: middle;
}