<div class="wrapper">
 <div class="sidebar" data-active-color="orange" data-background-color="white" data-image="/assets/img/sidebar-1.jpg" ng-cloak>

  <div class="logo">
   <a href="/home" class="simple-text">
    <img src="/assets/img/ipsaa-logo-sm.png">
   </a>
  </div>

  <div class="sidebar-wrapper always-visible">
   <input type="file" id="profilePicUpload" file-model="file" style="display:none" accept="image/*" />

   <div class="user">
    <div class="photo">
     <img [src]="profileImageURI" (click)="ppFileBrowse()" />
    </div>
    <div class="info">
     <a data-toggle="collapse" class="collapsed">{{self.name}}</a>
     <a>{{self.email}}</a>
    </div>
   </div>
   <ul class="nav">
    <li class="hidden-md hidden-lg" style="cursor: pointer; cursor: hand;">
     <a (click)="logout()">
      <i class="glyphicon glyphicon-log-out"></i>
      <p>Logout</p>
     </a>
    </li>
    <li>
     <a href="/home" (click)="menuClicked()">
      <i class="material-icons">dashboard</i>
      <p>Dashboard</p>
     </a>
    </li>
    <li *ngFor="let item of menu.items " (click)="menuToggle()">
     <a data-toggle="collapse" [attr.data-target]="'#id_' + item.label.split(' ').join('-')">
      <i class="material-icons">{{item.icon}}</i>
      <p>{{item.label}}
       <b class="caret"></b>
      </p>
     </a>
     <div class="collapse" [attr.id]="'id_' + item.label.split(' ').join('-')">
      <ul class="nav">
       <li *ngFor="let submenu of item.submenu">
        <a [attr.href]="submenu.state" (click)="menuClicked()">{{submenu.label}}</a>
       </li>
      </ul>
     </div>
    </li>
   </ul>
  </div>
 </div>

 <div class="main-panel">
  <nav class="navbar navbar-transparent navbar-absolute">
   <div class="container-fluid">
    <div class="navbar-minimize">
     <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
      <i class="material-icons visible-on-sidebar-regular">more_vert</i>
      <i class="material-icons visible-on-sidebar-mini">view_list</i>
     </button>
    </div>
    <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#"> &nbsp; </a>
    </div>
    <div class="collapse navbar-collapse">
     <ul class="nav navbar-nav navbar-right">

      <li style="cursor: pointer; cursor: hand;">
       <a class="hand hidden-xs hidden-sm" (click)="logout()" title="Logout">
        <i class="glyphicon glyphicon-log-out"></i>
        <p class="hidden-lg hidden-md">Logout</p>
       </a>
      </li>
     </ul>
    </div>
   </div>
  </nav>
  <div class="content">
   <div class="container-fluid">
    <router-outlet></router-outlet>
   </div>
  </div>
 </div>
</div>

