<div class="row">
  <div class="col-lg-4" *ngFor="let student of attendance;">
    <div class="card">
      <div class="card-header card-header-warning">
        <img *ngIf="!student.img" src="/assets/img/default-avatar.png" />
        <img *ngIf="student.img" [attr.src]="'http://ipsaaprod.s3-website.ap-south-1.amazonaws.com/' + student.img" />
        <h4 class="card-profile-name">{{student.fullName}}</h4>
      </div>
      <div class="card-body">
        <div>
          <div class="row">
            <div class="col-lg-3 offset-lg-5">Program:</div>
            <div class="col-lg-4">{{student.program}}</div>
          </div>
          <div class="row">
            <div class="col-lg-3 offset-lg-5">Group:</div>
            <div class="col-lg-4">{{student.group}}</div>
          </div>
          <div class="row">
            <div class="col-lg-6">Center:</div>
            <div class="col-lg-6">{{student.center}}</div>
          </div>
          <div class="row">
            <div class="col-lg-6">Parent (s):</div>
            <div class="col-lg-6">{{student.parent || "NA"}}</div>
          </div>
          <div class="row">
            <div class="col-lg-6">Expected In:</div>
            <div class="col-lg-6">{{student.expectedIn || '&nbsp;'}}</div>
          </div>
          <div class="row">
            <div class="col-lg-6">Expected Out:</div>
            <div class="col-lg-6">{{student.expectedOut || '&nbsp;'}}</div>
          </div>
          <div class="row">
            <div class="col-lg-6">Actual In:</div>
            <div class="col-lg-6">{{student.actualIn || '&nbsp;'}}</div>
          </div>
          <div class="row">
            <div class="col-lg-6">Actual Out:</div>
            <div class="col-lg-6">{{student.actualOut || '&nbsp;'}}</div>
          </div>
          <div class="row">
            <div class="col-lg-6">Status:</div>
            <div class="col-lg-6">{{student.status}}</div>
          </div>
        </div>
        <button class="btn btn-primary btn-round pull-right" (click)="clockin(student)" *ngIf="student.status==='Absent'" [disabled]="student.clockinDisabled">
          <i class="fa fa-spinner fa-fw fa-pulse fa-2x" *ngIf="student.clockinDisabled"></i>
          Clock In
        </button>
        <button class="btn btn-primary btn-round pull-right" (click)="clockout(student)" *ngIf="student.status=='Present' && !student.actualOut"
          [disabled]="student.clockoutDisabled">
          <i class="fa fa-spinner fa-fw fa-pulse fa-2x" *ngIf="student.clockoutDisabled"></i>
          Clock Out
        </button>
      </div>
    </div>
  </div>
</div>