<div class="row">

<div class="col-lg-12">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="zone">Zone:</label>
          <select class="form-control" name="zone" id="zone" [(ngModel)]="selectedZone" (ngModelChange)="getSelectedZoneStates(selectedZone)" >
            <option value="" disabled="true">Select Zone</option>
            <option *ngFor="let zone of zones;" [value]="zone.code">{{zone.name}}</option>
          </select>
          <span class="material-input"></span>
        </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
            <label for="zone">Zone:</label>
            <select class="form-control" name="zone" id="zone" [(ngModel)]="selectedZone" (ngModelChange)="getSelectedZoneStates(selectedZone)" >
              <option value="" disabled="true">Select Zone</option>
              <option *ngFor="let zone of zones;" [value]="zone.code">{{zone.name}}</option>
            </select>
            <span class="material-input"></span>
          </div>
        </div>
        
       <div class="col-md-3">
          <div class="form-group">
            <label for="center">Center:</label>
            <select class="form-control" name="center" id="center">
              <option value="" disabled="true">Select Center</option>
              <option *ngFor="let center of centers;" [value]="center.code">{{center.name}}</option>
            </select>
            <span class="material-input"></span>
          </div>
        </div>

      <div class="col-md-3">
        <button type="submit" mat-raised-button class="btn btn-warning btn-lg" [disabled]="!hollidayForm.valid " (click)="getCenterStudentFeeDetails()">
              Get
        </button>
      </div>
    </div>

</div>
<div *ngIf="showtable" [class]="viewPanel?'col-lg-6':'col-lg-12'">
    <div class="card">

      <div class="card-header card-header-warning card-header-icon">
      
       

      </div>
      <div class="card-body">
        <!-- <div *ngIf="downloadinData" >
          <table class="table table-responsive">
            <colgroup>
              <col width="10%">
              <col width="15%">
              <col width="40%">
              <col width="15%">
              <col width="10%">
              <col width="10%">

            </colgroup>
            <thead style="text-align: center" *ngIf=" studentDetails?.length >0" class="text-primary">


              <th> Sr.No</th>
              <th>Student</th>
              <th >Program / Group</th>

              <th>Final Fee</th>
              <th>Period</th>
              <th>Status</th>

            </thead>
            <tbody style="text-align: center" >
              <tr *ngFor="let student of studentDetails; let i= index" >

                <td >{{i+1}}</td>
                <td >{{student.fullName}}</td>
                <td >
                  <span class="badge badge-primary margin-right-5"> {{student.program}} </span>
                  <span class="badge badge-primary margin-right-5"> {{student.group}} </span>
                </td>
                <td >{{student.payableAmount}}</td>

                <td > {{student.feeDuration}} </td>
                <td > {{student.status}} </td>
              </tr>

            </tbody>

            <tfoot *ngIf=" studentDetails.length == 0" style="border: 1px groove #e8e8e8;">
                <tr>
                  <td class="text-center">No Content</td>
                </tr>
              </tfoot>
          </table>
        </div> -->
      </div>
    </div>

  </div>

  <div class="col-lg-6" *ngIf="viewPanel">



  </div>
</div>