<div class="row">

<div class="col-lg-12">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="zone">Zone:</label>
          <select class="form-control" name="zone" id="zone" [(ngModel)]="selectedZone" (ngModelChange)="getSelectedZoneStates(selectedZone)" >
            <option value="" disabled="true">Select Zone</option>
            <option *ngFor="let zone of zones;" [value]="zone.id">{{zone.name}}</option>
          </select>
          <span class="material-input"></span>
        </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
            <label for="state">State:</label>
            <select class="form-control" name="state" id="state" [(ngModel)]="selectedState" [disabled]="!selectedZone" (ngModelChange)="getSelectedStateCities(selectedState)" >
              <option value="" disabled="true">Select State</option>
              <option *ngFor="let state of states;" [value]="state.id">{{state.name}}</option>
            </select>
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <label for="city">city:</label>
              <select class="form-control" name="city" id="city" [(ngModel)]="selectedCity" [disabled]="!selectedState" (ngModelChange)="getSelectedStateCities(selectedCity)" >
                <option value="" disabled="true">Select city</option>
                <option *ngFor="let city of cities;" [value]="city.id">{{city.name}}</option>
              </select>
              <span class="material-input"></span>
            </div>
          </div>
        
       <div class="col-md-3">
          <div class="form-group">
            <label for="center">Center:</label>
            <select class="form-control" name="center" id="center" (ngModelChange)="getSelectedStateCities(selectedCity)">
              <option value="" disabled="true">Select Center</option>
              <option *ngFor="let center of centers;" [value]="center.code">{{center.name}}</option>
            </select>
            <span class="material-input"></span>
          </div>
        </div>

      <div class="col-md-3">
        <button type="submit" mat-raised-button class="btn btn-warning btn-lg"  (click)="getCenterStudentFeeDetails()">
              Get
        </button>
      </div>
    </div>

</div>
<div  [class]="viewPanel?'col-lg-6':'col-lg-12'">
    <div class="card">

      <div class="card-header card-header-warning card-header-icon">
      
        <div class="card-icon">
          <i class="material-icons">content_copy</i>
        </div>


      </div>
      <div class="card-body">
          <table class="table table-responsive">
            <colgroup>
              <col width="20%">
              <col width="20%">
              <col width="20%">
              <col width="20%">
              <col width="20%">
              <!-- <col width="20%"> -->

            </colgroup>
            <thead class="text-primary">
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Floating</th>
                <th>Optional</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr >
              <!-- | orderBy:['holidayDate','name'] |
               filter: searchHoliday |  *ngFor="let  holiday of holidays "
               filter: selectedCenter.code |
               startFrom:currentPage*pageSize |
               limitTo:pageSize"> -->
                <td (click)="showHoliday('holiday','Show')">'holiday'.name}}</td>
                <td (click)="showHoliday('holiday','Show')">'holiday'.'holiday'Date}}</td>
                <td (click)="showHoliday('holiday','Show')">'holiday'.floating}}</td>
                <td (click)="showHoliday('holiday','Show')">'holiday'.optional}}</td>
                <td>
                  <div class="buttons">
                    <button type="button" class="btn btn-primary btn-xs" (click)="editHoliday('holiday')">EDIT</button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="delHoliday('holiday')">DEL</button>
                  </div>
                </td>
              </tr>
  
            </tbody>

            <tfoot *ngIf="false" style="border: 1px groove #e8e8e8;">
                <tr>
                  <td class="text-center">No Content</td>
                </tr>
              </tfoot>
          </table>
      </div>
    </div>

  </div>

  <div class="col-lg-6" *ngIf="viewPanel">

    <div class="card">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>      
            <h4 class="card-title">{{mode}} Holiday</h4>
          </div>
          <div class="card-body">
      <div class="card-content">
              <form id="hollidayForm" [formGroup]="hollidayForm">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Name</label>
                <input class="form-control" name="name" type="text" required formControlName="name" [readonly]="show">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Date (YYYY-MM-DD)</label>
                <input class="form-control datepicker" name="code" type="date" required formControlName="date" [readonly]="show">
                <span class="material-input"></span>
              </div>
            </div>
            <!-- <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Add Center</label>
                <select class="form-control" [(ngModel)]="holiday.selectedCenter" ng-options="center.name for center in centerList track by center.code"
                        ng-disabled="show" ng-change="addCenter(holiday.selectedCenter)">
                </select>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Center(s)</label>
                <button class="btn btn-info btn-xs btn-round" *ngFor=" let center of centers">
                  {{center.name}}<i [hidden]="show" class="material-icons" (click)="removeCenter('k')">close</i>
                </button>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="checkbox" style="padding-top: 45px;">
                  <label>
                    <input ng-disabled="show" ng-click="holiday.floating = !holiday.floating" type="checkbox" ng-checked="holiday.floating">
                    Floating
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="checkbox" style="padding-top: 45px;">
                  <label>
                    <input ng-disabled="show" ng-click="holiday.optional = !holiday.optional" type="checkbox" ng-checked="holiday.optional">
                    Optional
                  </label>
                </div>
              </div>
            </div>
          </div> -->
          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button [hidden]="show" class="btn btn-rose btn-fill" (click)="saveHoliday()">Save</button>
            <button [hidden]="show" class="btn btn-default" (click)="cancelHoliday()">Cancel</button>
          </div>
        </form>
        </div>
        </div>
    </div>

  </div>
</div>