<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="generateSlipForm">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="center">Center:</label>
            <select class="form-control" formControlName="center">
              <option value="" disabled="true">Select Center</option>
              <option *ngFor="let center of centers;" [value]="center.code">{{center.name}}</option>
            </select>
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="Quater">Quater:</label>
            <select class="form-control" formControlName="quater">
              <option value="" disabled="true">Select Quater</option>
              <option *ngFor="let quater of quaters;" [value]="quater.id">{{quater.Qtype}}</option>
            </select>
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="year">Year:</label>
            <select class="form-control" formControlName="year">
              <option value="" disabled="true">Select Year</option>
              <option *ngFor="let year of years" [value]="year">{{year}}</option>
            </select>
            <span class="material-input"></span>
          </div>
        </div>

        <div class="col-md-3">
          <button type="submit" mat-raised-button class="btn btn-warning btn-lg" [disabled]="!generateSlipForm.valid"
            (click)="get()">Get </button>
        </div>
      </div>

    </form>
  </div>
  <div *ngIf="showtable" [class]="viewPanel?'col-lg-6':'col-lg-12'">
    <div class="card">

      <div class="card-header card-header-warning card-header-icon">
        <div class="row">
          <div class="col-lg-12">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <h3 style="float: left" class="card-title">
              Student Fee Slip
              <i class="fa fa-spinner fa-fw fa-pulse text-primary" [hidden]="downloadinData"></i>
            </h3>
            <h3 style="float: right ;" class="card-title">
             
              <form class="form-inline ml-auto">
                <div class=" no-border">
                  <input matInput type="text" class="form-control" (keyup)="searchStudent($event)" name="search"
                    placeholder="search text goes here">
                </div>
                <button type="submit" class="btn btn-just-icon btn-round " style="background: orange">
                  <i class="material-icons">search</i>
                </button>
              </form>
            </h3>
          </div>
        </div>
       

      </div>
      <div class="card-body">
        <div *ngIf="downloadinData" class="table-responsive">
          <table class="table ">
            <colgroup>
              <col width="10%">
              <col width="15%">
              <col width="30%">
              <col width="15%">
              <col width="10%">
              <col width="10%">
              <col width="10%">

            </colgroup>
            <thead style="text-align: center" class="text-primary">


              <th> Sr.No</th>
              <th>Student</th>
              <th (click)="sendMailPanel(true)">Program / Group</th>

              <th>Final Fee</th>
              <th>Period</th>
              <th>Status</th>

            </thead>
            <tbody style="text-align: center" *ngIf=" studentDetails?.length >0">
              <tr *ngFor="let student of studentDetails; let i= index">

                <td (click)="showSidePanel(true,student)">{{i+1}}</td>
                <td (click)="showSidePanel(true,student)">{{student.fullName}}</td>
                <td (click)="showSidePanel(true,student)">
                  <span class="badge badge-primary margin-right-5"> {{student.program}} </span>
                  <span class="badge badge-primary margin-right-5"> {{student.group}} </span>
                </td>
                <td (click)="showSidePanel(true,student)">{{student.payableAmount}}</td>

                <td (click)="showSidePanel(true,student)"> {{student.feeDuration}} </td>
                <td (click)="showSidePanel(true,student)"> {{student.status}} </td>
              </tr>

            </tbody>
            <tfoot>
              <tr *ngIf=" studentDetails.length == 0">
                <td colspan="100%">
                  <div style="text-align: center">

                    nothing to show
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-6" *ngIf="viewPanel">

    <div class="card">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="material-icons">content_copy</i>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="showSidePanel(false,null)">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="card-title">
          <span>
            Fee Slip - {{selectedStudentDetails.fullName}}
          </span>
          <br>
          <span class="badge badge-primary margin-right-5"> {{selectedStudentDetails.program}} </span>
          <span class="badge badge-primary margin-right-5"> {{selectedStudentDetails.group}} </span>
          
          <div style="float: right">
            <button mat-raised-button class="btn btn-primary btn-sm" (click)="sendMailPanel(!mailPanel)">
              <span *ngIf=" !mailPanel ;else Regenerate"><i class="material-icons">
                  menu
                </i> View Fees Details</span>
              <ng-template #Regenerate> <i class="material-icons">
                  cancel
                </i>Hide Fees Details</ng-template>
            </button>
          </div>
        </h4>
      </div>
      <div *ngIf="!mailPanel" class="card-body">
        <form id="feePaymentForm" [formGroup]="feePaymentForm">
          <div class="card-content">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label"> Total Amount</label>
                  <input class="form-control" type="number" name="totalFee" formControlName="totalFee">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label"> Payable Amount</label>
                  <input class="form-control" type="number" name="payableAmount" formControlName="payableAmount">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label">Paid Amount</label>
                  <input class="form-control" type="number" name="paidAmount" formControlName="paidAmount">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                  <label class="control-label">Payment mode</label>
                  <select class="form-control" formControlName="paymentMode">
                    <option disabled > HDFC</option>
                    <option *ngFor="let mode of paymentMode" [value]="mode">{{mode}}</option>
                  </select>
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label">Payment Date (YYYY-MM-DD)</label>
                  <input class="form-control"  name="paymentDate" formControlName="paymentDate" >
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label"> Reference</label>
                  <input class="form-control" type="number" [required]="" name="txnid" formControlName="txnid">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label class="control-label">Comments*</label>
                  <textarea class="form-control" name="comments" formControlName="comments" rows="3" cols="100"> </textarea>
                  <span class="material-input"></span>
                </div>
              </div>

            </div>
            <div class="category form-category">
              *Required Fields
            </div>
            <div class="form-footer text-right">

              <button class="btn btn-sm btn-rose btn-fill" [disabled]="!feePaymentForm.valid" (click) ="paymentRecord()" >
                <span *ngIf=" recordPayment ;else Payment">
                  <i class="fa fa-spinner fa-spin"></i> Record payment
                </span>
                <ng-template #Payment>Record payment</ng-template>
              </button>
              <button class="btn btn-sm btn-rose btn-fill" [disabled]=" selectedStudentDetails.status !='Raised' &&!feePaymentForm.valid" (click) ="receiptDownload()"  >
                <span *ngIf=" downloadReceipt ;else Receipt">
                  <i class="fa fa-spinner fa-spin"></i> Download
                </span>
                <ng-template #Receipt>Download</ng-template>
              </button>

              <button class="btn btn-sm btn-default" (click)="showSidePanel(false,null)">Cancel</button>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="mailPanel" class="card-body">

        <table class="table  table-hover table-bordered">
          <thead>
            <!-- <tr> -->
            <th scope="col"> <b>Fee/ Charges </b></th>
            <th scope="col"> <b>Final Amount </b></th>
            <th scope="col"> <b>Paid Amount </b></th>
            <th scope="col"> <b>Remaining </b></th>
            <!-- </tr> -->
          </thead>
          <tbody>
            <tr>
              <th scope="row"> Uniform Charges </th>
              <td>{{selectedStudentDetails.uniformCharges}}</td>
              <td>{{selectedStudentDetails.uniformPaidAmountTotal}}</td>
              <td>{{selectedStudentDetails.uniformCharges - selectedStudentDetails.uniformPaidAmountTotal}}</td>
            </tr>
            <tr>
              <th scope="row">Stationery Charges</th>
              <td>{{selectedStudentDetails.stationary}}</td>
              <td>{{selectedStudentDetails.stationaryPaidAmountTotal}}</td>
              <td>{{selectedStudentDetails.stationary -selectedStudentDetails.stationaryPaidAmountTotal }}</td>
            </tr>
            <tr>
              <th scope="row">Transport Fees </th>
              <td>{{selectedStudentDetails.transportFee}}</td>
              <td>{{selectedStudentDetails.transportPaidAmountTotal}}</td>
              <td>{{selectedStudentDetails.transportFee - selectedStudentDetails.transportPaidAmountTotal}}</td>
            </tr>
            <tr>
              <th scope="row">Annual Charges </th>
              <td>{{selectedStudentDetails.annualFee}}</td>
              <td>{{selectedStudentDetails.annualPaidAmountTotal}}</td>
              <td>{{selectedStudentDetails.annualFee - selectedStudentDetails.annualPaidAmountTotal}}</td>
            </tr>
            <tr>
              <th scope="row">Admission Charges </th>
              <td>{{selectedStudentDetails.admissionFee}}</td>
              <td>{{selectedStudentDetails.addmissionPaidAmountTotal}}</td>
              <td> {{selectedStudentDetails.admissionFee - selectedStudentDetails.addmissionPaidAmountTotal}}</td>
            </tr>
            <tr>
              <th scope="row">Base Fee </th>
              <td>{{selectedStudentDetails.finalBaseFee}}</td>
              <td>{{selectedStudentDetails.programPaidAmountTotal}}</td>
              <td>{{selectedStudentDetails.finalBaseFee - selectedStudentDetails.programPaidAmountTotal}}</td>
            </tr>
            <tr>
              <th scope="row">Security Deposite Fee </th>
              <td>{{selectedStudentDetails.deposit}}</td>
              <td>{{selectedStudentDetails.depositPaidAmountTotal}}</td>
              <td>{{selectedStudentDetails.deposit - selectedStudentDetails.depositPaidAmountTotal}}</td>
            </tr>
            <tr>
              <th scope="row">Late Payment </th>
              <td>{{selectedStudentDetails.latePaymentCharge}}</td>
              <td rowspan="5">{{selectedStudentDetails.totalOtherPaidAmount}}</td>
              <td rowspan="5">{{ selectedStudentDetails.adjust +  selectedStudentDetails.balance + selectedStudentDetails.latePaymentCharge + selectedStudentDetails.gstAmount- selectedStudentDetails.totalOtherPaidAmount }}</td>

            </tr>
            <tr>
              <th scope="row">Extra</th>
              <td>{{selectedStudentDetails.extraCharge}}</td>
              <!-- <td colspan="2">Larry the Bird</td> -->
            </tr>
            <tr>
              <th scope="row">GST</th>
              <td>{{selectedStudentDetails.gstAmount}}</td>
              <!-- <td colspan="2">Larry the Bird</td> -->
            </tr>
            <tr>
              <th scope="row">Balance</th>
              <td>{{selectedStudentDetails.balance}}</td>
              <!-- <td colspan="2">Larry the Bird</td> -->
            </tr>
            <tr>
              <th scope="row">Adjust</th>
              <td>{{selectedStudentDetails.adjust}}</td>
              <!-- <td colspan="2">Larry the Bird</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>




  </div>
</div>