#bg-img{
    background-image: url('/assets/img/Parent portal-bg-01.png');
    background-repeat: no-repeat
}
.btn-portal,.btn-portal:focus,.btn-portal:hover {
    background-color: #ffca05;
    color: #FFFFFF;
}
/* card start*/
.card-header[data-background-color="portal"]{
background: #ffca05;
}
/* card end*/
/* profile card start*/
.profile-card{
    background-color: #ffca05;
    border-radius: 15px;
}
.profile-card h6,h4,p{
    color:black !important;
}
.profile-card .label{
    background-color: white;
    color: black;
}
.profile-form-card .card-header{
    background-image: url('/assets/img/curtain-013.png');
    background-repeat: repeat-x;
    box-shadow: none;
}

.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover{
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
}
.nav-tabs > li > a,.nav-tabs > li > a:hover{
    padding: 10px 5px;
    color: black !important;
}
/* profile card end*/