<div class="row">
  <div [class]="viewPanel?'col-lg-6':'col-lg-12'">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#Centers" (click)="changeTab('Centers')">Centers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Zones" (click)="changeTab('Zones')">Zones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Cities" (click)="changeTab('Cities')">Cities</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div id="Centers" class="tab-pane active"><br>
            <br>
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <h3 class="card-title">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x text-primary" [hidden]="tableData.length"></i>{{tableTitle}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="table-responsive ps-child">
              <table class="table text-center">
                <thead class="text-primary" *ngIf="tableColumn">
                  <tr>
                    <th>S No.</th>
                    <th *ngFor="let col of tableColumn;">{{col}}</th>
                    <th width="20%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of tableData;let i = index;">
                    <td> {{i + 1}}</td>
                    <td *ngFor="let col of tableColumn;">{{row[col]}}</td>
                    <td>
                      <button mat-raised-button class="btn btn-primary btn-sm">Edit</button>
                      <button mat-raised-button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr *ngIf="tableColumn.length && !tableData.length">
                    <td [attr.colspan]="tableColumn.length + 1">No {{tableTitle}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div id="Zones" class="tab-pane fade"><br>
            <br>
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <h3 class="card-title">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x text-primary" [hidden]="tableData.length"></i>{{tableTitle}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="table-responsive ps-child">
              <table class="table text-center">
                <thead class="text-primary" *ngIf="tableColumn">
                  <tr>
                    <th>S No.</th>
                    <th *ngFor="let col of tableColumn;">{{col}}</th>
                    <th width="20%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of tableData;let i = index;">
                    <td> {{i + 1}}</td>
                    <td *ngFor="let col of tableColumn;">
                      <span *ngIf="col != 'cities'">{{row[col]}}</span>
                      <ng-container *ngIf="col == 'cities'">
                        <span class="badge badge-primary margin-right-5" *ngFor="let city of row.cities;">{{city.name}}</span>
                      </ng-container>
                    </td>
                    <td>
                      <button mat-raised-button class="btn btn-primary btn-sm">Edit</button>
                      <button mat-raised-button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr *ngIf="tableColumn.length && !tableData.length">
                    <td [attr.colspan]="tableColumn.length + 1">No {{tableTitle}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div id="Cities" class="tab-pane fade"><br>
            <br>
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <h3 class="card-title">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x text-primary" [hidden]="tableData.length"></i>{{tableTitle}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="table-responsive ps-child">
              <table class="table text-center">
                <thead class="text-primary" *ngIf="tableColumn">
                  <tr>
                    <th>S No.</th>
                    <th *ngFor="let col of tableColumn;">{{col}}</th>
                    <th width="20%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of tableData;let i = index;">
                    <td> {{i + 1}}</td>
                    <td *ngFor="let col of tableColumn;">{{row[col]}}</td>
                    <td>
                      <button mat-raised-button class="btn btn-primary btn-sm">Edit</button>
                      <button mat-raised-button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr *ngIf="tableColumn.length && !tableData.length">
                    <td [attr.colspan]="tableColumn.length + 1">No {{tableTitle}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6" *ngIf="viewPanel">
    
  </div>
</div>