<div class="row">

  <div class="col-md-4">
    <div class="form-group">
      <label class="control-label" for="center"> Select Center:</label>
      <select class="form-control" id="center" name="center" [(ngModel)]="selectedCenterId" (ngModelChange)="getStudentsList()">
        <option value="" disabled="true">Select Center</option>
        <option *ngFor="let center of centers;" [value]="center.id"> ( {{center.count}} ){{center.centerName}}</option>
      </select>
      <span class="material-input"></span>
    </div>
  </div>
  <!-- <div class="col-sm-4">
    <button type="submit" mat-raised-button class="btn btn-warning btn-lg" [disabled]="!selectedCenterId" (click)="getStudentsList()">
      Get
    </button>
  </div> -->

</div>
<div class="row" *ngIf="showTable">
  <div [class]="viewPanel?'transition col-lg-6':'transition col-md-12'">
    <div class="card">

      <div class="card-header card-header-warning card-header-icon">
        <div class="row">
          <div class="col-lg-12">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <h3 style="float: left" class="card-title">

              Student Approvals
              <i class="fa fa-spinner fa-fw fa-pulse text-primary" [hidden]="true"></i>
            </h3>
          </div>
        </div>

      </div>

      <div class="card-body">
        <table class="table table-condensed table-striped table-hover">
          <!-- <colgroup>
            
            <col width="10%">
            <col width="10%">
            <col width="15%">
            <col width="15%">
            <col width="10%">
            <col width="10%">
            <col width="30%">
            <col width="10%">
          </colgroup> -->
          <thead  style="text-align: center" class="text-primary">
              <!-- *ngIf=" studentAprrovelList ?.length >0" -->
            <th> Sr.No</th>
            <th>Name</th>
            <th>Program</th>
            <th> Center </th>
            <!-- <th> Group </th> -->
            <th>Corporate</th>
            <!-- <th>Link </th> -->
            <th>action</th>
          </thead>
          <tbody>
            <tr style="text-align: center" *ngFor="let student of studentAprrovelList ; let i= index">
              <td>{{i+1}}</td>
              <td>{{student.fullName}}</td>
              <td> {{student.program.name}} </td>
              <td>{{student.center.name}}</td>
              <!-- <td> {{student.group.name}} </td> -->
              <td> {{student.corporate}} </td>
              <!-- <td></td> -->
              <td>
                <button mat-raised-button class="btn btn-primary btn-sm" (click)="getSelectedStudentsDetail(student)">Show Details
                </button>
                <button mat-raised-button class="btn btn-warning btn-sm" (click)="studentApprove(student)">Approve
                </button>
                <button mat-raised-button class="btn btn-rose btn-sm" data-toggle="modal" data-target="#myModal" (click)="selectedStudent=student">Reject
                </button>
              </td>
            </tr>
            <tr *ngIf=" studentAprrovelList.length === 0" class="text-center">
              <td colspan="7" class="text-center">No Content</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-6" *ngIf="viewPanel">
        <app-student-info [id]="selectedStudent.id" [update]="update"></app-student-info>
     
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Reject Student</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Reason: </label>
            <input class="form-control" [(ngModel)]="comment">
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="studentReject(selectedStudent, comment)" [disabled]="!comment">
              <i class="fa fa-spinner fa-fw fa-pulse text-primary" *ngIf="studentLoader"> </i>Confirm</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
  
      </div>
    </div>
  </div>