.sidebar .user, .off-canvas-sidebar .user {
 padding-bottom: 20px;
 margin: 20px auto 0;
 position: relative;
}

.sidebar .user .photo, .off-canvas-sidebar .user .photo {
 width: 80px;
 height: 80px;
 overflow: hidden;
 border-radius: 50%;
 margin: 0 auto;
 box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar .user .photo img, .off-canvas-sidebar .user .photo img {
 width: 100%;
}