@keyframes ipsaa-loading{
	from{
    	left:-10%;
    }
    to{
    	left:100%;
    }
}
div[ipsaa-loader]{
	width:100%;
    height:5px;
    background:black;
    position:fixed;
    top:0;
    left:0;
    z-index: 9999;
}
div[ipsaa-loader] div[color-area]{
	width:300px;
    height:5px;
    background:orange;
    position:fixed;
    top:0;
    animation:ipsaa-loading ease-in-out 1s;
    animation-iteration-count: infinite;
}