<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label" for="center">Select Center</label>
      <select class="form-control" id="center" placeholder="Center" [(ngModel)]="selectedCenter" (ngModelChange)="loadStudentFeeByCenter()">
        <option *ngFor="let center of centers" [ngValue]="center">
          {{center.name}}
        </option>
        <option value="" disabled>Select Center</option>
      </select>
    </div>
  </div>
  
  <div class="col-sm-4">
      <div class="form-group">
      <label class="control-label" for="search">Search</label>
      <input id="search" class="form-control"  (keyup)="searchStudent($event)">
      </div>
  </div>
  
</div>

<div class="row" >
  <!--  student fee table starts -->
  <div [class]="viewPanel?'transition col-lg-6':'transition col-md-12'">
    <div class="card">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="material-icons">content_copy</i>
        </div>
        <h3 class="card-title">Student Fee
          <i class="fa fa-spinner fa-fw fa-pulse text-primary" *ngIf="loadingFeeList"></i>
        </h3>
      </div>
      <div class="card-content mx-3">
        <div class="table-responsive">
          <table class="table table-condensed table-striped table-hover">
            <colgroup>
              <col width="20%">
              <col width="20%">
              <col width="10%">
              <col width="20%">
              <col width="10%">
              <col width="10%">
              <col width="10%">

            </colgroup>
            <thead class="text-primary">
              <tr>
                <!-- <th>Sr. No.</th> -->
                <th>Name</th>
                <th>Program</th>
                <th>Group</th>
                <th>Center</th>
                <th>Base Fee</th>
                <th>Final Fee</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of studentFeeDetails" class="staff-list-row" [hidden]="loadingFeeList" (click)="getStudentFee(student)">
                <td>{{student.fullName}}</td>
                <td>{{student.program.description}}</td>
                <td>{{student.group.description}}</td>
                <td>{{student.center.name}}</td>
                <td>{{student.baseFee}}</td>
                <td>{{student.finalFee}}</td>
                <td class="action-buttons">
                  <button type="button" class="btn btn-primary btn-sm" (click)="getStudentFee(student)">edit</button>
                </td>
              </tr>
              <tr *ngIf="!loadingFeeList && !studentFeeDetails.length" class="text-center">
                <td colspan="8">No Fee to display</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
          </div>
  </div>
  <!-- student fee table ends -->

  <div class="col-lg-6" *ngIf="viewPanel">
    <app-student-fee-info [studentFee]="selectedStudentDetails" ></app-student-fee-info>
  </div>
</div>
  
