.table-responsive {
    height: inherit;
  }
/* .card table.table{
  table-layout: fixed;
} */
  .card table tbody tr {
    cursor: pointer;
}
.card table tbody tr:hover{
  background: #fafafa;
}
tr.show td table tbody tr {
  cursor: initial !important;
 
}
tr.show td table tbody tr:hover{
  background: none !important;
}
tr.show td {
  padding: 0 !important;
}
tr.show td table.table{
  table-layout: fixed;
  margin-bottom: 0;
}
tr.show td table.table tbody tr th, tr.show td table.table tbody tr td {
  padding: 10px 10px !important;
}
.card table.table tbody tr td {
  border: 1px solid rgba(0, 0, 0, 0.06) !important;
}

tr.clickable {
  background: #f3f2f2;
}
tr.collapsed {
  background: white;
}

.card .table thead th {
  border: 1px solid rgba(0, 0, 0, 0.06);
}