.padding-left-right-30 {
  padding: 0 20px;
}

.card-profile img {
  height: 130px;
  width: 130px;
  margin: auto;
  display: table;
  margin-bottom: -80px;
  border-radius: 50%;
}

.card-body .card-content {
  padding: 10px;
}

.card-body .card-content ul {
  background-color: orange;
}

.card-body .card-profile-name {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

.card-body .card-profile-name span {
  line-height: 24px;
  color: rgba(0, 0, 0, 0.9);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
