<div class="card">
  <div class="card-header card-header-warning">
    <button type="button" class="close" aria-label="Close" (click)="hideViewPanel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- <h4 class="card-title">Student Info</h4>
  <p class="card-category">Category subtitle</p> -->
    <div class="card-profile">
      <!-- <img *ngIf="(loaded&&student)" src="/assets/img/loading.gif" /> -->
      <img *ngIf="!student.studentImageData" src="/assets/img/default-avatar.png" />
      <img id="student-profile" *ngIf="student.studentImageData" [hidden]="!loaded" (load)="loaded = true" [src]="'data:image/PNG;base64,' + student.studentImageData"
      />
    </div>
  </div>
  <div class="card-body">
    <div class="card-profile-name">
      <span *ngIf="!newStudent">{{student.fullName}}</span>
      <span *ngIf="newStudent">New Student</span>
      <br>
      <a href="" onclick="document.getElementById('upload').click(); return false" *ngIf="!newStudent">Update Profile Pic</a>
      <input type="file" id="upload" name="upload" style="display: none" (change)="uploadProfilePic(student, $event.target.files['0'])"
      />
    </div>
    <div class="card-content">
      <!-- Nav pills -->
      <ul class="nav nav-pills nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#parent0">Father</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#parent1">Mother</a>
        </li>
        <li class="nav-item" *ngIf="studentForm.controls.fee">
          <a class="nav-link" data-toggle="tab" href="#feeTab">Fee</a>
        </li>
        <li class="nav-item" *ngIf="!newStudent">
          <a class="nav-link" data-toggle="tab" href="#payment-history">Payment History</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <form class="tab-content" [formGroup]="studentForm">
        <div id="profile" class="container tab-pane active">
          <br>
          <div class="row" *ngIf="!newStudent">
            <div class="col-lg-6">
              <label class="control-label">Admission Number : </label> {{student.admissionNumber}}</div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">First Name : </label>
                <input class="form-control" value=" Pankaj" formControlName="firstName">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">Last Name : </label>
                <input class="form-control" value=" Kharetwal" formControlName="lastName">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">Nick Name : </label>
                <input class="form-control" value=" Pankaj" formControlName="nickName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">Center : </label>
                <select class="form-control" formControlName="centerId">
                  <option *ngFor="let center of centers;let c = index;" [ngValue]="center.id"> {{center.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">Program : </label>
                <select class="form-control" formControlName="programId" (ngModelChange)="getFee($event)">
                  <option *ngFor="let program of programs;let c = index;" [ngValue]="program.id"> {{program.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">Group : </label>
                <select class="form-control" formControlName="groupId">
                  <option *ngFor="let group of groups;let c = index;" [ngValue]="group.id"> {{group.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">Gender : </label>
                <select class="form-control" formControlName="gender">
                  <option value="">Gender</option>
                  <option value="Male">Boy</option>
                  <option value="Female">Girl</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">Blood Group : </label>
                <select class="form-control" formControlName="bloodGroup">
                  <option *ngFor="let bg of bloodGroups;">{{bg}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Date of Birth</label>
                <input class="form-control" name="dob" type="date" required formControlName="dob" [readonly]="!newStudent">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">Familty Type : </label>
                <select class="form-control" formControlName="familyType">
                  <option value="">Family Type</option>
                  <option value="Nuclear">Nuclear</option>
                  <option value="Joint">Joint</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">*Nationality</label>
                <input class="form-control" name="nationality" type="text" formControlName="nationality">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">Expected In : </label>
                <input class="form-control" formControlName="expectedIn">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label class="control-label">*Comment</label>
                <textarea class="form-control" formControlName="profile" required ng-readonly="showstudent" maxlength="1000"></textarea>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">Expected Out : </label>
                <input class="form-control" formControlName="expectedOut">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <div class="checkbox" style="padding-top: 45px;">
                  <label>
                    <input type="checkbox" checked="checked" formControlName="corporate" (ngModelChange)="removeFee($event)"> Corporate Student
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox" style="padding-top: 45px;">
                  <label>
                    <input type="checkbox" (ngModelChange)="formalClicked($event)" name="formalSchool" formControlName="formalSchool"> Formal School
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*School Name</label>
                <input class="form-control" name="school" type="text" formControlName="schoolName" required [disabled]="!studentForm.controls.formalSchool.value">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="newStudent">
              <div class="col-md-12">
                <div class="checkbox" style="padding-top: 45px;">
                  <label>Siblings
                    <input type="checkbox" name="sibling" [(ngModel)]="sibling.hasSibling" [ngModelOptions]="{standalone: true}">
                  </label>
                </div>
              </div>
  
              <div class="col-md-3">
                <div class="form-group ">
                  <label class="control-label">*Center</label>
                  <select class="form-control" id="sel3" [ngModelOptions]="{standalone: true}" [(ngModel)]="siblingCenter" [disabled]="!sibling.hasSibling">
                      <option value="">Select</option>
                    <option *ngFor="let center of centers;" [ngValue]="center">{{center.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label class="control-label">Sibling Program</label>
                  <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="siblingProgram" [disabled]="!sibling.hasSibling">
                    <option value="">Select</option>
                    <option *ngFor="let program of programs;" [ngValue]="program"> {{program.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label class="control-label">Sibling Group</label>
                  <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="siblingGroup" [disabled]="!sibling.hasSibling">
                      <option value="">Select</option>
                    <option *ngFor="let group of groups;" [ngValue]="group"> {{group.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label class="control-label">Student</label>
                  <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="sibling.siblingId" [disabled]="!sibling.hasSibling" (ngModelChange)="siblingSelected($event)">
                    <option value="">Select</option>
                    <ng-container *ngFor="let student of students;">
                      <option [ngValue]="student" *ngIf="student.center.id == siblingCenter.id && student.program.id == siblingGroup.id && student.group.id">{{student.fullName}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </div>
        </div>
        <ng-container formArrayName="parents">
          <div [attr.id]="'parent'+i" class="container tab-pane fade" *ngFor=" let parent of studentForm.controls.parents.controls;let i = index;"
            [formGroupName]="i">
            <br>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="control-label">First Name : </label>
                  <input class="form-control" value=" Pankaj" formControlName="firstName">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="control-label">Last Name : </label>
                  <input class="form-control" value=" Kharetwal" formControlName="lastName">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">*Phone</label>
                  <input class="form-control" type="text" formControlName="mobile">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">*Email</label>
                  <input class="form-control" type="email" formControlName="email">
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" formControlName="smsEnabled"> SMS Notification
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" formControlName="emailEnabled"> Email Notification
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Educational Qualification</label>
                  <input class="form-control" name="fatherEducationalQualification" type="text" formControlName="educationalQualification">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Occupation</label>
                  <input class="form-control" name="fatherOccupation" type="text" formControlName="occupation">
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Designation</label>
                  <input class="form-control" name="fatherdesignation" type="text" formControlName="designation">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Organisation</label>
                  <input class="form-control" name="fatherOrganisation" type="text" formControlName="organisation">
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
            <div class="row" formGroupName="residentialAddress">
              <h4 class="col-lg-12">Residential Address</h4>
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="control-label">Address</label>
                  <input class="form-control" type="text" formControlName="address">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">City</label>
                  <input class="form-control" name="city" type="text" formControlName="city">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">State</label>
                  <input class="form-control" name="state" type="text" formControlName="state">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Zipcode</label>
                  <input class="form-control" name="zipcode" type="text" formControlName="zipcode">
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
            <div class="row" formGroupName="officeAddress">
              <h4 class="col-lg-12">Office Address</h4>
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="control-label">Address</label>
                  <input class="form-control" type="text" formControlName="address">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">City</label>
                  <input class="form-control" name="city" type="text" formControlName="city">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">State</label>
                  <input class="form-control" name="state" type="text" formControlName="state">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Zipcode</label>
                  <input class="form-control" name="zipcode" type="text" formControlName="zipcode">
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <div id="feeTab" class="container tab-pane" *ngIf="studentForm.controls.fee">
          <div formGroupName="fee">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Annual Charges</label>
                  <input class="form-control" type="number" formControlName="annualFee" readonly>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Discount
                    <sup>(%)</sup>
                  </label>
                  <input class="form-control" type="number" formControlName="discountAnnualCharges" readonly>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Final Annual Charges
                  </label>
                  <input class="form-control" type="number" formControlName="finalAnnualFee" required 
                  min="0" (ngModelChange)="calculateDiscount('annualFee','finalAnnualFee', 'discountAnnualCharges')">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Admission Charges</label>
                  <input class="form-control" type="number" formControlName="admissionFee" readonly>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Discount
                    <sup>(%)</sup>
                  </label>
                  <input class="form-control" type="number" formControlName="discountAdmissionCharges" readonly>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Final Admission Charges</label>
                  <input class="form-control" type="number" formControlName="finalAdmissionCharges" required 
                    min="0" (ngModelChange)="calculateDiscount('admissionFee', 'finalAdmissionCharges', 'discountAdmissionCharges')"
                    [disabled]="!studentForm.controls.fee.controls.admissionFee.value">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Monthly Program Fees</label>
                  <input class="form-control" type="number" formControlName="baseFee" readonly>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Discount
                    <sup>(%)</sup>
                  </label>
                  <input class="form-control" type="number" formControlName="discountBaseFee" readonly>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Final Monthly Fees Amount</label>
                  <input class="form-control" type="text" formControlName="finalBaseFee" required 
                    [disabled]="!studentForm.controls.fee.controls.baseFee.value" min="0" (ngModelChange)="calculateDiscount('baseFee', 'finalBaseFee', 'discountBaseFee')">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Security Deposit</label>
                  <input class="form-control" type="number" formControlName="deposit" readonly>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Discount
                    <sup>(%)</sup>
                  </label>
                  <input class="form-control" type="number" formControlName="discountSecurityDeposit" readonly>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Final Security Deposit Fees</label>
                  <input class="form-control" type="number" formControlName="finalSecurityDeposit" required 
                    [disabled]="!studentForm.controls.fee.controls.deposit.value" min="0" (ngModelChange)="calculateDiscount('deposit', 'finalSecurityDeposit', 'discountSecurityDeposit')">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Monthly Transport Fees</label>
                  <input class="form-control" type="number" formControlName="transportFee" (ngModelChange)="monthlyTransportFeesChanged(studentForm.controls.fee.value)">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Uniform Charges</label>
                  <input class="form-control" type="number" formControlName="uniformCharges" (ngModelChange)="monthlyUniformChargesChanged(studentForm.controls.fee.value)">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Stationery Charges</label>
                  <input class="form-control" type="number" formControlName="stationary" (ngModelChange)="monthlyStationeryChargesChanged(studentForm.controls.fee.value)">
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Comment*</label>
                  <input class="form-control" type="text" formControlName="comment">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Annual-GST-Fee</label>
                  <input class="form-control" type="text" formControlName="gstFee" readonly>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Base-Fee-GST &nbsp;
                    <a href="#" data-toggle="tooltip" title="18% If Applicable">
                      <i class="fa fa-info"></i>
                    </a>
                  </label>
                  <input class="form-control" type="text" formControlName="baseFeeGst" readonly>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Final Total Fees</label>
                  <input class="form-control" type="number" formControlName="finalFee" readonly>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="payment-history" class="container tab-pane" *ngIf="!newStudent">
            <table class="table">
                <thead class="text-primary">
                  <th>Quarter</th>
                  <th>Invoice Date</th>
                  <th>Total Fee</th>
                  <th>Payable Amount</th>
                  <th>Status</th>
                </thead>
                  <tr *ngFor="let history of paymentHistory;">
                    <td>{{history.year}} {{quarters[history.quarter-1]}}</td>
                    <td>{{history.invoiceDate | date}}</td>
                    <td>{{history.totalFee}}</td>
                    <td>{{history.payableAmount}}</td>
                    <td>{{history.status}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </form>
    </div>
  </div>

  <div class="card-footer">
    <div class="stats padding-left-right-30">
      <button mat-raised-button class="btn btn-primary" (click)="saveStudent()" [disabled]="studentForm.invalid">Save</button>
      <button mat-raised-button class="btn btn-default" (click)="hideViewPanel()">Cancel</button>
    </div>
  </div>
</div>