<div class="card">
  <div class="card-header card-header-warning card-header-icon">
    <div class="card-icon">
      <i class="material-icons">content_copy</i>
    </div>
    <h4> Inquiry</h4>
  </div>
  <div class="card-body">
    <form id="inquiryForm" [formGroup]="inquiryForm">
      <div class="card-content">
        <!-- <button class="btn btn-sm">Back</button> -->

        <div class="row">

          <div class="form-group ipsaa-form-group col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Inquiry Number</label>
              <input class="form-control" required name="inquiryNumber" type="text" formControlName="inquiryNumber">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-2">
            <label class="control-label">Lead Source</label>
            <select class="form-control" required name="leadSource" formControlName="leadSource">
              <option selected="selected" value="">Select Source</option>
              <option *ngFor="let leadSource of leadSources;" [value]="leadSource">{{leadSource}}</option>
            </select>
          </div>
          <div class="form-group ipsaa-form-group col-md-2">
            <label class="control-label">Inquiry Type</label>
            <select class="form-control" required name="inquiryType" formControlName="inquiryType">
              <option selected="selected" value="">Select Type</option>
              <option *ngFor="let inquiryType of inquiryTypes;" [value]="inquiryType">{{inquiryType}}</option>
            </select>
          </div>

          <div class="form-group ipsaa-form-group col-md-4">
            <label class="control-label">Center</label>
            <select class="form-control" formControlName="centerCode">
              <option selected="selected" disabled="true" [value]="">Select Center</option>
              <option *ngFor="let center of centers;" [value]="center.code">{{center.name}}</option>
            </select>
          </div>
          <div class="form-group ipsaa-form-group col-md-2">
            <label class="control-label">Program</label>
            <select class="form-control" formControlName="programCode">
              <option selected="selected" disabled="true" [value]="">Select Program</option>
              <option *ngFor="let program of programs;" [value]="program.code">{{program.name}}</option>
            </select>
          </div>
          <div class="form-group ipsaa-form-group col-md-2">
            <label class="control-label">Group</label>
            <select class="form-control" formControlName="groupId">
              <option selected="selected" disabled="true" value="">Select Group</option>
              <option *ngFor="let group of groups ;" [ngValue]="group.id">{{group.name}}</option>
            </select>
          </div>


          <div class="form-group ipsaa-form-group col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Who Visited</label>
              <input class="form-control" required name="whoVisited" type="text" formControlName="whoVisited">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">From Time (HH:MM)</label>
              <input class="form-control " required name="fromTime" formControlName="fromTime">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">To Time (HH:MM)</label>
              <input class="form-control " required name="toTime" formControlName="toTime">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Fees offer</label>
              <input class="form-control" required name="feeOffer" formControlName="feeOffer">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Inquiry Date (YYYY-MM-DD)</label>
              <input class="form-control " type="date" required name="inquiryDate"
                formControlName="inquiryDate">
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <legend>Child</legend>
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-4">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">First Name</label>
              <input class="form-control" required name="childFirstName" type="text" formControlName="childFirstName">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-4">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Last Name</label>
              <input class="form-control" required name="childLastName" type="text" formControlName="childLastName">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-4">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">DOB(YYYY-MM-DD)</label>
              <input class="form-control datepicker" id="childDob" required name="childDob" type="text" formControlName="childDob">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <legend>Parents</legend>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Father's First Name</label>
              <input class="form-control" required name="fatherFirstName" type="text" formControlName="fatherFirstName">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Father's Last Name</label>
              <input class="form-control" required name="fatherLastName" type="text" formControlName="fatherLastName">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Father's Email</label>
              <input class="form-control" required name="fatherEmail" type="text" formControlName="fatherEmail">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Father's Mobile</label>
              <input class="form-control" required name="fatherMobile" type="text" formControlName="fatherMobile">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Father's Company</label>
              <input class="form-control" required name="fatherCompanyName" type="text" formControlName="fatherCompanyName">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Mother's First Name</label>
              <input class="form-control" required name="motherFirstName" type="text" formControlName="motherFirstName">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Mother's Last Name</label>
              <input class="form-control" required name="motherLastName" type="text" formControlName="motherLastName">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Mother's Email</label>
              <input class="form-control" required name="motherEmail" type="text" formControlName="motherEmail">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Mother's Mobile</label>
              <input class="form-control" required name="motherMobile" type="text" formControlName="motherMobile">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Mother's Company</label>
              <input class="form-control" required name="motherCompanyName" type="text" formControlName="motherCompanyName">
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group  ipsaa-form-group">
              <label class="control-label">Secondary Numbers</label>
              <input class="form-control" type="text" formControlName="secondaryNumbers">
            </div>
          </div>
          <div class="col-md-8">
            <div formGroupName="address">
              <div class="form-group  ipsaa-form-group">
                <label class="control-label">Address</label>
                <input class="form-control" type="text" formControlName="address">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="tab ==='Inquiry'" class="form-group">
              <legend>Call Log</legend>
            </div>
            <div *ngIf="tab ==='FollowUps'" class="form-group">
              <legend>Follow Ups </legend>

            </div>
          </div>

          <div class="form-group ipsaa-form-group col-md-4">
            <label class="control-label">Disposition</label>
            <select class="form-control" required name="callDisposition" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="log.callDisposition">
              <option selected="selected" value=''>Select Disposition</option>
              <option *ngFor="let disposition of dispositions;" [value]="disposition">{{disposition}}
              </option>
            </select>
          </div>

          <div class="col-md-8" *ngIf="log.callDisposition ==='NewInquiry'|| 
          log.callDisposition ==='Followup'|| 
          log.callDisposition ==='Callback'||
          log.callDisposition ==='ParentMessage'||
          log.callDisposition ==='Revisit'">
            <div class="row">
              <div class="form-group ipsaa-form-group col-md-4">
                <div class="form-group ipsaa-form-group">
                  <label class="control-label">Callback Date (YYYY-MM-DD)</label>
                  <input type="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="log.callBackDate" class="form-control datepicker"
                    id="callBackDate" [disabled]="log.callDisposition ===''" name="callBackDate">
                </div>
              </div>
              <div class="form-group ipsaa-form-group col-md-4">
                <div class="form-group ipsaa-form-group">
                  <label class="control-label">Callback Time (HH:MM)</label>
                  <input class="form-control " [ngModelOptions]="{standalone: true}" [(ngModel)]="log.callBackTime" id="callBackTime"
                  [disabled]="log.callBackDate ===''" name="callBackTime" type="text">
                </div>
              </div>
              <div class="form-group ipsaa-form-group col-md-4">
                <div class="form-group ipsaa-form-group">
                  <label class="control-label">Callback Number</label>
                  <input class="form-control dropdown-toggle" data-toggle="dropdown"   [disabled]="log.callBackTime ===''" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="log.callBackNumber" required name="callBackNumber" type="text">
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li *ngFor=" let number of inquiryNumbers ">
                      <a (click)="selctedNumber(number)">{{number}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-12"  *ngIf="log.callDisposition ==='NewInquiry'|| 
          log.callDisposition ==='Followup'|| 
          log.callDisposition ==='Callback'||
          log.callDisposition ==='ParentMessage'||
          log.callDisposition ==='Revisit'">
              <div class="form-group ipsaa-form-group">
                <label class="control-label">Comment</label>
                <textarea class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="log.comment" 
                  name="callBackComment"  [disabled]="log.callBackNumber ===''" id="callBackComment" row="5" maxlength="500"></textarea>
              </div>
            </div>
        </div>

        <div class="row" *ngIf="log.callDisposition ==='NotInterested'|| 
        log.callDisposition ==='Drop'|| 
        log.callDisposition ==='Enrolled'">
          <div class="form-group ipsaa-form-group col-md-12">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Comment</label>
              <textarea class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="log.comment" 
                name="callBackComment" id="callBackComment" row="5" maxlength="500"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <legend>History</legend>
            </div>
          </div>
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-condensed table-striped table-hover">
                <thead class="text-primary">
                  <tr>
                    <th>Disposition</th>
                    <th>CallBack Date</th>
                    <th>CallBack Number</th>
                    <th>Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let logs of inquiryDetails ">
                    <td>{{logs.callDisposition}}</td>
                    <td>{{logs.callBack}}</td>
                    <td>{{logs.callBackNumber}}</td>
                    <td>{{logs.comment}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="tab-pane active" id="controls">
          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill" 
          (click)="saveForm()"
          [disabled]=" !((log.callDisposition !=='') &&  (this.inquiryForm.valid)) " >Save</button>
           
            <button class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>