/* You can add global styles to this file, and also import other style files */
.main-panel .main-content {
    margin-top: 30px;
}

.loader-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*loader*/
.loader{
    width: 85px;
    height: 85px;
    border: 2px #ff9800 solid;
    border-radius: 50%;
    -webkit-animation: rotation 1s cubic-bezier(0.4, 0, 1, 1) infinite;
       -moz-animation: rotation 1s cubic-bezier(0.4, 0, 1, 1) infinite;
            animation: rotation 1s cubic-bezier(0.4, 0, 1, 1) infinite;
    margin: 30px auto;
}
.loader:after{
    width: 8px;
    height: 8px;
    background-color: #ff9800;
    border-radius: 100%;
    position: absolute;
    content: "";
    top: 17px;
}
@-webkit-keyframes rotation{
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation{
    0%{-moz-transform: rotate(0deg);}
    100%{-moz-transform: rotate(360deg);}
}
@keyframes rotation{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

/* .swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
  } */