<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="exampleFormControlInput1">Search</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search by Staff Name.." (keyup)="searchStaff($event)">
    </div>
  </div>
</div>
<div class="row">
  <div [class]="viewPanel?'transition col-md-6':'transition col-md-12'">
    <div class="card">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="material-icons">content_copy</i>
        </div>
        <h3 class="card-title">Staffs
          <i class="fa fa-spinner fa-fw fa-pulse text-primary" [hidden]="!loader"></i>
          <button mat-raised-button class="btn btn-primary btn-sm" style="float: right;" (click)="showEmailPanel()" [disabled]="!ids.length">Email</button>
          <button mat-raised-button class="btn btn-primary btn-sm" style="float: right;" (click)="showSmsPanel()" [disabled]="!ids.length">SMS</button>
        </h3>
      </div>
      <div class="card-content mx-3">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th>
                  <input type="checkbox" (ngModelChange)="selectAll($event)" [(ngModel)]="selectAllStaff">
                </th>
                <th>Name</th>
                <th>Eid</th>
                <th>Center</th>
                <th>Mobile</th>
                <th>Designation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let staff of pagedItems;">
                <td>
                  <input type="checkbox" [(ngModel)]="staffIds[staff.id]" (ngModelChange)="selectStaffs()">
                </td>
                <td>{{staff.name}}</td>
                <td>{{staff.eid}}</td>
                <td>{{staff.centerCode}}</td>
                <td>{{staff.mobile}}</td>
                <td>{{staff.designation}}</td>
              </tr>
              <tr *ngIf="!loader && pagedItems.length === 0">
                <td colspan="4" class="text-center">No Staff</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-info">
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
            <a class="page-link" (click)="setPage(1)">First</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
            <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a class="page-link" (click)="setPage(page)">{{page}}</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-6" *ngIf="viewPanel">    
    <div class="card" *ngIf="smsCard">
      <div class="card-header card-header-icon card-header-warning ">
        <div class="card-icon">
          <i class="material-icons">textsms</i>
        </div>
        <h4 class="card-title">SMS
          <button type="button" class="close" aria-label="Close" (click)="hideViewPanel()">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <!-- <label for="smscontent">Comment:</label> -->
          <textarea class="form-control" rows="3" id="smscontent" [(ngModel)]="smsContent" ></textarea>
          <span class="badge badge-primary pull-right">{{smsContent.length}}</span>
        </div>
        <div class="form-group">
          <button mat-raised-button class="btn btn-primary btn-sm" (click)="smsApi()" [disabled]="!(ids.length && smsContent)" >
            <span *ngIf="sending;else send">
              <i class="fa fa-spinner fa-spin"></i> Sending
            </span>
            <ng-template #send>Send</ng-template>
          </button>
        </div>
      </div>
    </div>      
    <div class="card" *ngIf="emailCard">
      <div class="card-header card-header-icon card-header-warning">
        <div class="card-icon">
          <i class="material-icons">email</i>
        </div>
        <h4 class="card-title">Email
          <button type="button" class="close" aria-label="Close" (click)="hideViewPanel()">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label class="control-label">Subject*</label>
          <input class="form-control" [(ngModel)]="emailsubject">
        </div>
        <div class="form-group">
          <label class="control-label">Message*</label>
          <!-- <textarea id="message" class="form-control" [(ngModel)]="emailcontent"></textarea> -->
          <app-email-message-directive (onFileDrop)="dropped($event)" ></app-email-message-directive>
          <span class="badge badge-primary pull-right">{{emailcontent.length}}</span>
        </div>
        <div>
          <span class="btn btn-info btn-xs btn-round" *ngFor="let attachment of files;let i = index;">
            {{attachment.name}}
            <i class="material-icons" ng-click="removeAttachment(i)">close</i>
          </span>
        </div>
        <input class="btn btn-primary btn-sm" type="file" (change)="getFiles($event)" multiple/>
        <div class="form-group">
          <button mat-raised-button class="btn btn-primary btn-sm" (click)="emailApi()">
            <span *ngIf="sending;else send">
              <i class="fa fa-spinner fa-spin"></i> Sending
            </span>
            <ng-template #send>Send</ng-template>
          </button>
        </div>

      </div>
    </div>
  </div>