<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <!-- <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round mat-raised-button" mat-raised-button="">
                <span class="mat-button-wrapper">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
            </button>
        </div> -->
        <div class="navbar-wrapper">
          <a class="navbar-brand">{{getTitle()}}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">
                        <i class="material-icons">power_settings_new</i>
                        <p>
                            <span class="d-lg-none d-md-block">Log Out</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>